# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- python
- Jupyter Notebooks
- SQL
- libraries

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. pandas
3. sci-kit learn
4. matplotlib
5. stas

|Data Science Tools|
|---|
| Jupyter Notebooks |
| Hadoop |
| RStudio |
| TensorFlow.js |
| Ggplot2 |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
阳锡红